:root {
  --color-primary: #f3f3f3;
  --color-secondary: #777;
  --color-btn: #37af65;

  --bg-color-primary: #8854d0;

  --ff-primary: 'Poppins', sans-serif;
  --fs-size-standard: 62.5%;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--fs-size-standard);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url('/images/img1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  color: var(--color-primary);
  line-height: 2;
}

main {
  max-width: 110rem;
  width: 99%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin: 5rem 0 2.5rem;
}

#title {
  font-size: 3.2rem;
  font-weight: 400;
}

#description {
  font-weight: 200;
  font-style: italic;
}

#survey-form {
  background: #292948;
  filter: opacity(0.9);
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 0.5rem;
}

#survey-form div:not(:last-child) {
  margin-bottom: 2rem;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

#survey-form div .form_options {
  margin-bottom: 0;
  display: flex;

  align-items: center;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 0.625rem;
  min-height: 2rem;
  min-width: 2rem;
}

.form-control {
  font-size: 1.6rem;
  font-family: inherit;
  color: var(--color-secondary);
  height: 4rem;
  padding: 0.5rem 1.3rem;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
}

textarea {
  font-size: 1.6rem;
  font-family: inherit;
  width: 100%;
  padding: 1rem;
  resize: vertical;
}

#submit {
  background: var(--color-btn);
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  width: 100%;
  height: 4.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
